In [1]:
# modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import chardet
import csv
import os
import matplotlib.dates as mdates
from IPython.display import Image

## Inserez les chemins vers le fichiers CSV:

In [2]:
# on récupère les informations du dossier
dossier = './raw_data'
contenuDossier = os.listdir(dossier)
print(contenuDossier)
nombrePoints = 0
nomPoints = []
numeroPoints = []
# on parcours le dossier en recherchant les fichiers des points
for x in contenuDossier:
    if x.startswith('point'):
        nombrePoints += 1
        nomPoints.append(x)
        numeroPoints.append(x[5:7])
print(numeroPoints)

['point14_29_07_15', 'point15_29_07_15', '.DS_Store', 'schema_dispositif_AvAv_23_07_15.png', 'point13_29_07_15']
['14', '15', '13']

In [3]:
def read_csv (chemin_fichier):
    #Detecter separateur
    with open(chemin_fichier, 'r') as file:
        sniffer = csv.Sniffer()
        sample_data = file.read(1024)
        detecter_separateur = (sniffer.sniff(sample_data).delimiter)

    if "Titre" in open(chemin_fichier).readline():
        data_frame = pd.read_csv(chemin_fichier, sep=detecter_separateur, skiprows=1)
    else:
        data_frame = pd.read_csv(chemin_fichier, sep=detecter_separateur)

    return data_frame

In [4]:
# on crée un dictionnaire avec toutes les informations pour chaque point et on met les dictionnaires dans une liste
data = []
for x in nomPoints :
    dico = {}
    # le numéro
    dico['numero'] = x[5:7]
    # le nom
    dico['nom'] = x
    # la date
    dico['date'] = x[8:18]
    # le chemin vers le dossier
    dico['chemin'] = dossier + '/' + x
    with open(dico['chemin'] + '/geometrie.txt', 'r') as fichier:
        lignes = fichier.readlines()
        # le nom du capteur
        dico['capteur'] = lignes[1][:4]
        # la profondeur du capteur
        if lignes[3] == '\n' :
            dico['profondeur'] = 0
        else : 
            dico['profondeur'] = lignes[3]
        # les profondeurs auquelles on fait les mesures
        dico['profondeurMesures'] = []
        profMes = lignes[5].split(';')
        for num in profMes :
            dico['profondeurMesures'].append(int(num))
    # on va ensuite mettre les dataframes dans le dictionnaire
    contenuDossierPoint = os.listdir(dico['chemin'])
    for x in contenuDossierPoint:
        # la pression
        if x.startswith('p') and x.endswith('.csv'):
            dico['pression'] = read_csv(dico['chemin'] + '/' + x)
        # la température
        if x.startswith('t') and x.endswith('.csv'):
            dico['temperature'] = read_csv(dico['chemin'] + '/' + x)
    data.append(dico)

In [5]:
# en faisant data[0] on a accès à toutes les informations du point 1
data[0]

{'numero': '14',
 'nom': 'point14_29_07_15',
 'date': '29_07_15',
 'chemin': './raw_data/point14_29_07_15',
 'capteur': 'p507',
 'profondeur': 0,
 'profondeurMesures': [10, 20, 30, 40],
 'pression':        #  Date Heure GMT+02:00  \
 0      1  07/23/15 02:00:00 PM
 1      2  07/23/15 02:15:00 PM
 2      3  07/23/15 02:30:00 PM
 3      4  07/23/15 02:45:00 PM
 4      5  07/23/15 03:00:00 PM
 ..   ...                   ...
 558  559  07/29/15 09:30:00 AM
 559  560  07/29/15 09:45:00 AM
 560  561  07/29/15 10:00:00 AM
 561  562  07/29/15 10:15:00 AM
 562  563  07/29/15 10:30:00 AM

      Tension V (LGR S/N: 10614065 SEN S/N: 10614065)  \
 0                                            0.01183
 1                                            0.00080
 2                                            0.00080
 3                                            0.00092
 4                                            0.00088
 ..                                               ...
 558                                          1.23991
 559                                          1.23709
 560                                          1.24273
 561                                          1.24022
 562                                          1.30335

      Temp.°C (LGR S/N: 10614065, SEN S/N: 10614065)
 0                                            45.230
 1                                            21.979
 2                                            21.609
 3                                            21.910
 4                                            20.966
 ..                                              ...
 558                                          15.562
 559                                          15.541
 560                                          15.513
 561                                          15.599
 562                                          19.928

 [563 rows x 4 columns],
 'temperature':        # Date Heure, GMT+02:00  \
 0      1  07/23/15 02:00:00 PM
 1      2  07/23/15 02:15:00 PM
 2      3  07/23/15 02:30:00 PM
 3      4  07/23/15 02:45:00 PM
 4      5  07/23/15 03:00:00 PM
 ..   ...                   ...
 559  560  07/29/15 09:45:00 AM
 560  561  07/29/15 10:00:00 AM
 561  562  07/29/15 10:15:00 AM
 562  563  07/29/15 10:30:00 AM
 563  564  07/29/15 10:45:00 AM

      Temp., °C (LGR S/N: 10117161, SEN S/N: 10117161)  \
 0                                              26.207
 1                                              28.147
 2                                              28.419
 3                                              18.390
 4                                              18.509
 ..                                                ...
 559                                            15.986
 560                                            15.986
 561                                            15.986
 562                                            18.081
 563                                            20.650

      Temp., °C (LGR S/N: 10117161, SEN S/N: 10117161).1  \
 0                                               27.554
 1                                               27.087
 2                                               28.543
 3                                               21.223
 4                                               21.318
 ..                                                 ...
 559                                             15.772
 560                                             15.724
 561                                             15.748
 562                                             15.629
 563                                             21.079

      Temp., °C (LGR S/N: 10117161, SEN S/N: 10117161).2  \
 0                                               26.378
 1                                               26.867
 2                                               27.431
 3                                               18.319
 4                                               18.461
 ..                                                 ...
 559                                             15.867
 560                                             15.867
 561                                             15.867
 562                                             18.461
 563                                             21.939

      Temp., °C (LGR S/N: 10117161, SEN S/N: 10117161).3
 0                                               28.097
 1                                               29.265
 2                                               29.615
 3                                               19.555
 4                                               19.413
 ..                                                 ...
 559                                             14.625
 560                                             14.577
 561                                             14.745
 562                                             17.320
 563                                             24.171

 [564 rows x 6 columns]}

### On modifie les nom des colonnes du dataframe

In [6]:
# pour les températures
for x in data :
    # on supprime la première colonne si elle ne sert à rien
    for i in x['temperature'].columns :
        if not( i.startswith('Date') or i.startswith('Temp')) :
            del x['temperature'][i]
    for i in x['pression'].columns :
        if not( i.startswith('Date') or i.startswith('Tension') or i.startswith('Temp')) :
            del x['pression'][i]
    # on renomme les colonnes
    profondeur = x['profondeurMesures']
    colonnesT = ['dates']
    for num in profondeur :
        colonnesT.append('Temp_profondeur_'+ str(num))
    x['temperature'].columns = colonnesT
    colonnesP = ['dates', 'tension', 'temperature_stream']
    x['pression'].columns = colonnesP

In [7]:
# notamment la température et la pression
data[0]['temperature'].head(5)

,dates,Temp_profondeur_10,Temp_profondeur_20,Temp_profondeur_30,Temp_profondeur_40
0,07/23/15 02:00:00 PM,26.207,27.554,26.378,28.097
1,07/23/15 02:15:00 PM,28.147,27.087,26.867,29.265
2,07/23/15 02:30:00 PM,28.419,28.543,27.431,29.615
3,07/23/15 02:45:00 PM,18.390,21.223,18.319,19.555
4,07/23/15 03:00:00 PM,18.509,21.318,18.461,19.413

### Création du fichier `info.txt`

In [8]:
# Ouvrez un fichier en mode écriture ('w')
for x in data :
    if os.path.exists(x['chemin'] + '/point' + x['numero'] + '_info.txt') :
        os.remove(x['chemin'] + '/point' + x['numero'] + '_info.txt')
    with open(x['chemin'] + '/point' + x['numero'] + '_info.txt', 'w') as fichier:
        # Parcourez le dictionnaire et écrivez les données dans le fichier
        fichier.write('Point_Name,Point' + x['numero'] + '\n')
        fichier.write('P_Sensor_Name,' + x['capteur'] + '\n')
        fichier.write('Implantation_Date,' + x['date'] + '\n')
        fichier.write('Meas_date, \n')
        fichier.write('River_Deb,' + '\n')
        fichier.write('Delta_h,' + '\n')

In [21]:
data[0]['pression']

                  dates  tension  temperature_stream
0   2015-07-23 14:00:00  0.01183              45.230
1   2015-07-23 14:15:00  0.00080              21.979
2   2015-07-23 14:30:00  0.00080              21.609
3   2015-07-23 14:45:00  0.00092              21.910
4   2015-07-23 15:00:00  0.00088              20.966
..                  ...      ...                 ...
558 2015-07-29 09:30:00  1.23991              15.562
559 2015-07-29 09:45:00  1.23709              15.541
560 2015-07-29 10:00:00  1.24273              15.513
561 2015-07-29 10:15:00  1.24022              15.599
562 2015-07-29 10:30:00  1.30335              19.928

[563 rows x 3 columns]

## Conversion de valeurs de tension a differance de charge

In [25]:
# Obtention des constantes 

k0 = 1.21
k1 = -1.46
k2 = 0.014

data[0]['pression']

                  dates  tension  temperature_stream
0   2015-07-23 14:00:00  0.01183              45.230
1   2015-07-23 14:15:00  0.00080              21.979
2   2015-07-23 14:30:00  0.00080              21.609
3   2015-07-23 14:45:00  0.00092              21.910
4   2015-07-23 15:00:00  0.00088              20.966
..                  ...      ...                 ...
558 2015-07-29 09:30:00  1.23991              15.562
559 2015-07-29 09:45:00  1.23709              15.541
560 2015-07-29 10:00:00  1.24273              15.513
561 2015-07-29 10:15:00  1.24022              15.599
562 2015-07-29 10:30:00  1.30335              19.928

[563 rows x 3 columns]

In [26]:
for point in data:
    # Calcul de la colonne 'dH' en utilisant la formule H = 1/k1 * (U - k0 - k2 * T)
    U = point['pression']['tension'].astype(float)
    T = point['pression']['temperature_stream'].astype(float)
    point['pression']['dH'] = (1 / k1) * (U - k0 - k2 * T)

data[0]['pression']

                  dates  tension  temperature_stream        dH
0   2015-07-23 14:00:00  0.01183              45.230  1.254377
1   2015-07-23 14:15:00  0.00080              21.979  1.038977
2   2015-07-23 14:30:00  0.00080              21.609  1.035429
3   2015-07-23 14:45:00  0.00092              21.910  1.038233
4   2015-07-23 15:00:00  0.00088              20.966  1.029208
..                  ...      ...                 ...       ...
558 2015-07-29 09:30:00  1.23991              15.562  0.128738
559 2015-07-29 09:45:00  1.23709              15.541  0.130468
560 2015-07-29 10:00:00  1.24273              15.513  0.126337
561 2015-07-29 10:15:00  1.24022              15.599  0.128881
562 2015-07-29 10:30:00  1.30335              19.928  0.127152

[563 rows x 4 columns]

la suite est à adapter

In [9]:
# Conversion dans le bon format date
for point in data:
    point['pression']['dates'] = pd.to_datetime(point['pression']['dates'], format='%m/%d/%y %I:%M:%S %p')
    point['temperature']['dates'] = pd.to_datetime(point['temperature']['dates'], format='%m/%d/%y %I:%M:%S %p')

In [10]:
data[0]['temperature'].head(5)

,dates,Temp_profondeur_10,Temp_profondeur_20,Temp_profondeur_30,Temp_profondeur_40
0,2015-07-23 14:00:00,26.207,27.554,26.378,28.097
1,2015-07-23 14:15:00,28.147,27.087,26.867,29.265
2,2015-07-23 14:30:00,28.419,28.543,27.431,29.615
3,2015-07-23 14:45:00,18.390,21.223,18.319,19.555
4,2015-07-23 15:00:00,18.509,21.318,18.461,19.413

In [11]:
def nombre_de_valeurs_manquantes(capteur):
    
    nombre_de_valeurs_manquantes = capteur.isnull().sum()
    nombre_de_valeurs_manquantes[0:6] 


    return nombre_de_valeurs_manquantes

nombre_de_valeurs_manquantes_pression = nombre_de_valeurs_manquantes(data[0]['pression'])
print(nombre_de_valeurs_manquantes_pression)

nombre_de_valeurs_manquantes_temperature = nombre_de_valeurs_manquantes(capteur_temperatures)
print(nombre_de_valeurs_manquantes_temperature)

dates                 0
tension               0
temperature_stream    0
dtype: int64

NameError: name 'capteur_temperatures' is not defined

In [ ]:
#Supression de colonnes inutiles

if "#" in capteur_pression.columns:
    capteur_pression = capteur_pression.drop("#", axis=1)
    
if "#" in capteur_temperatures.columns:
    capteur_temperatures = capteur_temperatures.drop("#", axis=1)

## Supprimer les valeurs aberrantes

In [13]:
from scipy import stats

# Fonction pour détecter et supprimer les valeurs aberrantes en utilisant le Z-score
def remove_outliers_z_score(df, col_name, threshold=3):
    mean_1 = np.mean(df[col_name])
    std_1  = np.std (df[col_name])
    z_scores = np.abs((df[col_name] - mean_1)/std_1)

    # z_scores = np.abs(stats.zscore(df[col_name]))
    df_cleaned = df[(z_scores < threshold)]
    return df_cleaned

In [15]:
data_processed = data.copy()

In [17]:
data_processed[0]['pression'] = remove_outliers_z_score(data[0]['pression'], 'dH')

KeyError: 'dH'

In [20]:
data[0]['temperature']

,dates,Temp_profondeur_10,Temp_profondeur_20,Temp_profondeur_30,Temp_profondeur_40
0,2015-07-23 14:00:00,26.207,27.554,26.378,28.097
1,2015-07-23 14:15:00,28.147,27.087,26.867,29.265
2,2015-07-23 14:30:00,28.419,28.543,27.431,29.615
3,2015-07-23 14:45:00,18.390,21.223,18.319,19.555
4,2015-07-23 15:00:00,18.509,21.318,18.461,19.413
...,...,...,...,...,...
559,2015-07-29 09:45:00,15.986,15.772,15.867,14.625
560,2015-07-29 10:00:00,15.986,15.724,15.867,14.577
561,2015-07-29 10:15:00,15.986,15.748,15.867,14.745
562,2015-07-29 10:30:00,18.081,15.629,18.461,17.320
563,2015-07-29 10:45:00,20.650,21.079,21.939,24.171