In [1]:
# modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import chardet
import csv
import os
import matplotlib.dates as mdates
from IPython.display import Image

### Inserez les chemins vers le fichiers CSV:

In [2]:
# on récupère les informations du dossier
dossier = './raw_data'
contenuDossier = os.listdir(dossier)
print(contenuDossier)
nombrePoints = 0
nomPoints = []
numeroPoints = []
# on parcours le dossier en recherchant les fichiers des points
for x in contenuDossier:
    if x.startswith('point'):
        nombrePoints += 1
        nomPoints.append(x)
        numeroPoints.append(x[5:7])
print(numeroPoints)

['point14_29_07_15', 'point15_29_07_15', '.DS_Store', 'schema_dispositif_AvAv_23_07_15.png', 'point13_29_07_15']
['14', '15', '13']

In [3]:
def read_csv (chemin_fichier):
    #Detecter separateur
    with open(chemin_fichier, 'r') as file:
        sniffer = csv.Sniffer()
        sample_data = file.read(1024)
        detecter_separateur = (sniffer.sniff(sample_data).delimiter)

    if "Titre" in open(chemin_fichier).readline():
        data_frame = pd.read_csv(chemin_fichier, sep=detecter_separateur, skiprows=1)
    else:
        data_frame = pd.read_csv(chemin_fichier, sep=detecter_separateur)

    return data_frame

In [4]:
# on crée un dictionnaire avec toutes les informations pour chaque point et on met les dictionnaires dans une liste
data = []
for x in nomPoints :
    dico = {}
    # le numéro
    dico['numero'] = x[5:7]
    # le nom
    dico['nom'] = x
    # la date
    dico['date'] = x[8:18]
    # le chemin vers le dossier
    dico['chemin'] = dossier + '/' + x
    with open(dico['chemin'] + '/geometrie.txt', 'r') as fichier:
        lignes = fichier.readlines()
        # le nom du capteur
        dico['capteur'] = lignes[1][:4]
        # la profondeur du capteur
        if lignes[3] == '\n' :
            dico['profondeur'] = 0
        else : 
            dico['profondeur'] = lignes[3]
        # les profondeurs auquelles on fait les mesures
        dico['profondeurMesures'] = []
        profMes = lignes[5].split(';')
        for num in profMes :
            dico['profondeurMesures'].append(int(num))
    # on va ensuite mettre les dataframes dans le dictionnaire
    contenuDossierPoint = os.listdir(dico['chemin'])
    for x in contenuDossierPoint:
        # la pression
        if x.startswith('p') and x.endswith('.csv'):
            dico['pression'] = read_csv(dico['chemin'] + '/' + x)
        # la température
        if x.startswith('t') and x.endswith('.csv'):
            dico['temperature'] = read_csv(dico['chemin'] + '/' + x)
    # dans les configurations du capteur on va chercher les données
    with open('configuration/pressure_sensors/P' + '505' +'.csv' ) as fichier :
        # normalement il faut mettre dico['capteur'][1:] pas '505' mais là on a pas les fichiers :/
        lignes = fichier.readlines()
        for l in lignes :
            if l.startswith('Intercept') :
                dico['intercept'] = float(l[10:-2])
            if l.startswith('dU/dH') :
                dico['dU/dH'] = float(l[6:-2])
            if l.startswith('dU/dT') :
                dico['dU/dT'] = float(l[6:-2]) 
    data.append(dico)

In [5]:
# en faisant data[0] on a accès à toutes les informations du point 1
data[0]

{'numero': '14',
 'nom': 'point14_29_07_15',
 'date': '29_07_15',
 'chemin': './raw_data/point14_29_07_15',
 'capteur': 'p507',
 'profondeur': 0,
 'profondeurMesures': [10, 20, 30, 40],
 'pression':        #  Date Heure GMT+02:00  \
 0      1  07/23/15 02:00:00 PM
 1      2  07/23/15 02:15:00 PM
 2      3  07/23/15 02:30:00 PM
 3      4  07/23/15 02:45:00 PM
 4      5  07/23/15 03:00:00 PM
 ..   ...                   ...
 558  559  07/29/15 09:30:00 AM
 559  560  07/29/15 09:45:00 AM
 560  561  07/29/15 10:00:00 AM
 561  562  07/29/15 10:15:00 AM
 562  563  07/29/15 10:30:00 AM

      Tension V (LGR S/N: 10614065 SEN S/N: 10614065)  \
 0                                            0.01183
 1                                            0.00080
 2                                            0.00080
 3                                            0.00092
 4                                            0.00088
 ..                                               ...
 558                                          1.23991
 559                                          1.23709
 560                                          1.24273
 561                                          1.24022
 562                                          1.30335

      Temp.°C (LGR S/N: 10614065, SEN S/N: 10614065)
 0                                            45.230
 1                                            21.979
 2                                            21.609
 3                                            21.910
 4                                            20.966
 ..                                              ...
 558                                          15.562
 559                                          15.541
 560                                          15.513
 561                                          15.599
 562                                          19.928

 [563 rows x 4 columns],
 'temperature':        # Date Heure, GMT+02:00  \
 0      1  07/23/15 02:00:00 PM
 1      2  07/23/15 02:15:00 PM
 2      3  07/23/15 02:30:00 PM
 3      4  07/23/15 02:45:00 PM
 4      5  07/23/15 03:00:00 PM
 ..   ...                   ...
 559  560  07/29/15 09:45:00 AM
 560  561  07/29/15 10:00:00 AM
 561  562  07/29/15 10:15:00 AM
 562  563  07/29/15 10:30:00 AM
 563  564  07/29/15 10:45:00 AM

      Temp., °C (LGR S/N: 10117161, SEN S/N: 10117161)  \
 0                                              26.207
 1                                              28.147
 2                                              28.419
 3                                              18.390
 4                                              18.509
 ..                                                ...
 559                                            15.986
 560                                            15.986
 561                                            15.986
 562                                            18.081
 563                                            20.650

      Temp., °C (LGR S/N: 10117161, SEN S/N: 10117161).1  \
 0                                               27.554
 1                                               27.087
 2                                               28.543
 3                                               21.223
 4                                               21.318
 ..                                                 ...
 559                                             15.772
 560                                             15.724
 561                                             15.748
 562                                             15.629
 563                                             21.079

      Temp., °C (LGR S/N: 10117161, SEN S/N: 10117161).2  \
 0                                               26.378
 1                                               26.867
 2                                               27.431
 3                                               18.319
 4                                               18.461
 ..                                                 ...
 559                                             15.867
 560                                             15.867
 561                                             15.867
 562                                             18.461
 563                                             21.939

      Temp., °C (LGR S/N: 10117161, SEN S/N: 10117161).3
 0                                               28.097
 1                                               29.265
 2                                               29.615
 3                                               19.555
 4                                               19.413
 ..                                                 ...
 559                                             14.625
 560                                             14.577
 561                                             14.745
 562                                             17.320
 563                                             24.171

 [564 rows x 6 columns],
 'intercept': 1.5932473265293,
 'dU/dH': -8.8996336333619,
 'dU/dT': -0.013685962981157}

### On modifie les nom des colonnes du dataframe

In [6]:
# pour les températures
for x in data :
    # on supprime la première colonne si elle ne sert à rien
    for i in x['temperature'].columns :
        if not( i.startswith('Date') or i.startswith('Temp')) :
            del x['temperature'][i]
    for i in x['pression'].columns :
        if not( i.startswith('Date') or i.startswith('Tension') or i.startswith('Temp')) :
            del x['pression'][i]
    # on renomme les colonnes
    profondeur = x['profondeurMesures']
    colonnesT = ['dates']
    for num in profondeur :
        colonnesT.append('Temp_profondeur_'+ str(num))
    x['temperature'].columns = colonnesT
    colonnesP = ['dates', 'tension', 'temperature_stream']
    x['pression'].columns = colonnesP

In [7]:
# notamment la température et la pression
data[0]['temperature'].head(5)

,dates,Temp_profondeur_10,Temp_profondeur_20,Temp_profondeur_30,Temp_profondeur_40
0,07/23/15 02:00:00 PM,26.207,27.554,26.378,28.097
1,07/23/15 02:15:00 PM,28.147,27.087,26.867,29.265
2,07/23/15 02:30:00 PM,28.419,28.543,27.431,29.615
3,07/23/15 02:45:00 PM,18.390,21.223,18.319,19.555
4,07/23/15 03:00:00 PM,18.509,21.318,18.461,19.413

### Conversion de valeurs de tension a differance de charge

In [8]:
for point in data:
    k0 = float(point['intercept'])
    k1 = float(point['dU/dH'])
    k2 = float(point['dU/dT'])
    
    # Calcul de la colonne 'dH' en utilisant la formule H = 1/k1 * (U - k0 - k2 * T)
    U = point['pression']['tension'].astype(float)
    T = point['pression']['temperature_stream'].astype(float)
    point['pression']['dH'] = (1 / k1) * (U - k0 - k2 * T)

data[0]['pression']

                    dates  tension  temperature_stream        dH
0    07/23/15 02:00:00 PM  0.01183              45.230  0.108139
1    07/23/15 02:15:00 PM  0.00080              21.979  0.145134
2    07/23/15 02:30:00 PM  0.00080              21.609  0.145703
3    07/23/15 02:45:00 PM  0.00092              21.910  0.145227
4    07/23/15 03:00:00 PM  0.00088              20.966  0.146683
..                    ...      ...                 ...       ...
558  07/29/15 09:30:00 AM  1.23991              15.562  0.015771
559  07/29/15 09:45:00 AM  1.23709              15.541  0.016120
560  07/29/15 10:00:00 AM  1.24273              15.513  0.015530
561  07/29/15 10:15:00 AM  1.24022              15.599  0.015679
562  07/29/15 10:30:00 AM  1.30335              19.928  0.001929

[563 rows x 4 columns]

### On enlève les valeurs NaN

In [9]:
for x in data :
    x['temperature'] = x['temperature'].dropna(axis = 0, how = 'any')
    x['pression'] = x['pression'].dropna(axis = 0, how='any')

In [10]:
# Conversion dans le bon format date
for point in data:
    point['pression']['dates'] = pd.to_datetime(point['pression']['dates'], format='%m/%d/%y %I:%M:%S %p')
    point['temperature']['dates'] = pd.to_datetime(point['temperature']['dates'], format='%m/%d/%y %I:%M:%S %p')

In [11]:
data[0]['temperature'].head(5)

,dates,Temp_profondeur_10,Temp_profondeur_20,Temp_profondeur_30,Temp_profondeur_40
0,2015-07-23 14:00:00,26.207,27.554,26.378,28.097
1,2015-07-23 14:15:00,28.147,27.087,26.867,29.265
2,2015-07-23 14:30:00,28.419,28.543,27.431,29.615
3,2015-07-23 14:45:00,18.390,21.223,18.319,19.555
4,2015-07-23 15:00:00,18.509,21.318,18.461,19.413

### On supprime les valeurs aberrants

In [12]:
from scipy import stats

for x in data :
    # Traiter chaque colonne sauf la colonne des dates
    columns_to_processP = [col for col in x['pression'].columns if col != 'dates']
    columns_to_processT = [col for col in x['temperature'].columns if col != 'dates']
    # Créer un DataFrame vide pour stocker les données traitées
    x['pression2'] = x['pression'][['dates']].copy()
    x['temperature2'] = x['temperature'][['dates']].copy()
    # Boucler à travers chaque colonne à traiter
    for column_name in columns_to_processP :
        # Calculer le Z-score pour la colonne
        z_scores = np.abs(stats.zscore(x['pression'][column_name]))
        # Définir un seuil pour le Z-score (par exemple, 3)
        threshold = 3
        # Sélectionner les lignes avec des Z-scores inférieurs au seuil
        df_cleaned = x['pression'][z_scores < threshold] 
        # Copier les données traitées dans df_processed
        x['pression2'][column_name] = df_cleaned[column_name]
    # pareil pour les températures
    for column_name in columns_to_processT :
        # Calculer le Z-score pour la colonne
        z_scores = np.abs(stats.zscore(x['temperature'][column_name]))
        # Définir un seuil pour le Z-score (par exemple, 3)
        threshold = 3
        # Sélectionner les lignes avec des Z-scores inférieurs au seuil
        df_cleaned = x['temperature'][z_scores < threshold] 
        # Copier les données traitées dans df_processed
        x['temperature2'][column_name] = df_cleaned[column_name]

In [13]:
for x in data :
    x['temperature2'] = x['temperature2'].dropna(axis = 0, how = 'any')
    x['pression2'] = x['pression2'].dropna(axis = 0, how='any')

In [26]:
# on met à jour la date de début de la mesure, la date de fin et la période
for x in data :
    x['dateDebut'] = x['pression2']['dates'].iloc[0]
    x['dateFin'] = x['pression2']['dates'][len(x['pression2']['dates'])-1]
    x['periode'] = x['dateFin'] - x['dateDebut']

### Création du fichier `info.txt`

In [27]:
# Ouvrez un fichier en mode écriture ('w')
for x in data :
    if os.path.exists(x['chemin'] + '/point' + x['numero'] + '_info.txt') :
        os.remove(x['chemin'] + '/point' + x['numero'] + '_info.txt')
    with open(x['chemin'] + '/point' + x['numero'] + '_info.txt', 'w') as fichier:
        # Parcourez le dictionnaire et écrivez les données dans le fichier
        fichier.write('Point_Name,Point' + x['numero'] + '\n')
        fichier.write('P_Sensor_Name,' + x['capteur'] + '\n')
        fichier.write('Implantation_Date,' + x['date'] + '\n')
        fichier.write('Meas_date,' + str(x['dateDebut']) + '\n')
        fichier.write('River_Deb,' '\n') 
        fichier.write('Delta_h,' + '\n')
        fichier.write('Periode,' + str(x['periode']) + '\n')

In [28]:
data[0]

{'numero': '14',
 'nom': 'point14_29_07_15',
 'date': '29_07_15',
 'chemin': './raw_data/point14_29_07_15',
 'capteur': 'p507',
 'profondeur': 0,
 'profondeurMesures': [10, 20, 30, 40],
 'pression':                   dates  tension  temperature_stream        dH
 0   2015-07-23 14:00:00  0.01183              45.230  0.108139
 1   2015-07-23 14:15:00  0.00080              21.979  0.145134
 2   2015-07-23 14:30:00  0.00080              21.609  0.145703
 3   2015-07-23 14:45:00  0.00092              21.910  0.145227
 4   2015-07-23 15:00:00  0.00088              20.966  0.146683
 ..                  ...      ...                 ...       ...
 558 2015-07-29 09:30:00  1.23991              15.562  0.015771
 559 2015-07-29 09:45:00  1.23709              15.541  0.016120
 560 2015-07-29 10:00:00  1.24273              15.513  0.015530
 561 2015-07-29 10:15:00  1.24022              15.599  0.015679
 562 2015-07-29 10:30:00  1.30335              19.928  0.001929

 [563 rows x 4 columns],
 'temperature':                   dates  Temp_profondeur_10  Temp_profondeur_20  \
 0   2015-07-23 14:00:00              26.207              27.554
 1   2015-07-23 14:15:00              28.147              27.087
 2   2015-07-23 14:30:00              28.419              28.543
 3   2015-07-23 14:45:00              18.390              21.223
 4   2015-07-23 15:00:00              18.509              21.318
 ..                  ...                 ...                 ...
 559 2015-07-29 09:45:00              15.986              15.772
 560 2015-07-29 10:00:00              15.986              15.724
 561 2015-07-29 10:15:00              15.986              15.748
 562 2015-07-29 10:30:00              18.081              15.629
 563 2015-07-29 10:45:00              20.650              21.079

      Temp_profondeur_30  Temp_profondeur_40
 0                26.378              28.097
 1                26.867              29.265
 2                27.431              29.615
 3                18.319              19.555
 4                18.461              19.413
 ..                  ...                 ...
 559              15.867              14.625
 560              15.867              14.577
 561              15.867              14.745
 562              18.461              17.320
 563              21.939              24.171

 [564 rows x 5 columns],
 'intercept': 1.5932473265293,
 'dU/dH': -8.8996336333619,
 'dU/dT': -0.013685962981157,
 'pression2':                   dates  tension  temperature_stream        dH
 6   2015-07-23 15:30:00  1.13336              17.344  0.025003
 7   2015-07-23 15:45:00  1.23682              17.319  0.013416
 8   2015-07-23 16:00:00  1.23663              17.320  0.013436
 9   2015-07-23 16:15:00  1.20249              17.315  0.017280
 10  2015-07-23 16:30:00  1.22831              17.357  0.014314
 ..                  ...      ...                 ...       ...
 558 2015-07-29 09:30:00  1.23991              15.562  0.015771
 559 2015-07-29 09:45:00  1.23709              15.541  0.016120
 560 2015-07-29 10:00:00  1.24273              15.513  0.015530
 561 2015-07-29 10:15:00  1.24022              15.599  0.015679
 562 2015-07-29 10:30:00  1.30335              19.928  0.001929

 [557 rows x 4 columns],
 'temperature2':                   dates  Temp_profondeur_10  Temp_profondeur_20  \
 6   2015-07-23 15:30:00              17.938              20.650
 7   2015-07-23 15:45:00              17.867              20.460
 8   2015-07-23 16:00:00              17.843              20.579
 9   2015-07-23 16:15:00              17.819              20.627
 16  2015-07-23 18:00:00              17.772              20.603
 ..                  ...                 ...                 ...
 558 2015-07-29 09:30:00              15.986              15.772
 559 2015-07-29 09:45:00              15.986              15.772
 560 2015-07-29 10:00:00              15.986              15.724
 561 2015-07-29 10:15:00              15.986              15.748
 562 2015-07-29 10:30:00              18.081              15.629

      Temp_profondeur_30  Temp_profondeur_40
 6                17.748              19.199
 7                17.677              19.056
 8                17.629              19.246
 9                17.605              19.389
 16               17.534              17.701
 ..                  ...                 ...
 558              15.867              14.649
 559              15.867              14.625
 560              15.867              14.577
 561              15.867              14.745
 562              18.461              17.320

 [551 rows x 5 columns],
 'dateDebut': Timestamp('2015-07-23 15:30:00'),
 'dateFin': Timestamp('2015-07-29 09:00:00'),
 'periode': Timedelta('5 days 17:30:00')}