In [1]:
# modules
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import datetime
import chardet
import csv
import os
import matplotlib.dates as mdates
from IPython.display import Image
from scipy import stats

## Inserez les chemins vers le fichiers CSV:

In [2]:
# on récupère les informations du dossier
dossier = './raw_data'
contenuDossier = os.listdir(dossier)
print(contenuDossier)
nombrePoints = 0
nomPoints = []
numeroPoints = []
# on parcours le dossier en recherchant les fichiers des points
for x in contenuDossier:
    if x.startswith('point') :
        nombrePoints += 1
        nomPoints.append(x)
        numeroPoints.append(x[5:7])
print(numeroPoints)

['point13_29_07_15', 'point14_29_07_15', 'point15_29_07_15', 'point34_27_06_16', 'point35', 'point36_12_07_16', 'point46_17_06_19', 'point47_27_08_19', 'point48_14_04_18', 'point50_131023', 'point51_131023', 'schema_dispositif_AvAv_23_07_15.png']
['13', '14', '15', '34', '35', '36', '46', '47', '48', '50', '51']

In [3]:
def read_csv (chemin_fichier):
    #Detecter separateur
    with open(chemin_fichier, 'r') as file:
        sniffer = csv.Sniffer()
        sample_data = file.read(1024)
        detecter_separateur = (sniffer.sniff(sample_data).delimiter)

    if "Titre" in open(chemin_fichier).readline():
        data_frame = pd.read_csv(chemin_fichier, sep=detecter_separateur, skiprows=1)
    else:
        data_frame = pd.read_csv(chemin_fichier, sep=detecter_separateur)

    return data_frame

In [4]:
# on crée un dictionnaire avec toutes les informations pour chaque point et on met les dictionnaires dans une liste
data = []
for x in nomPoints :
    dico = {}
    # le numéro
    dico['numero'] = x[5:7]
    # le nom
    dico['nom'] = x
    # la date
    dico['date'] = x[8:18]
    # le chemin vers le dossier
    dico['chemin'] = dossier + '/' + x
    with open(dico['chemin'] + '/geometrie.txt', 'r') as fichier:
        lignes = fichier.readlines()
        # le nom du capteur
        dico['capteur'] = lignes[1][:4]
        # la profondeur du capteur
        if lignes[3] == '\n' :
            dico['profondeur'] = 0
        else : 
            dico['profondeur'] = lignes[3]
        # les profondeurs auquelles on fait les mesures
        dico['profondeurMesures'] = []
        profMes = lignes[5].split(';')
        for num in profMes :
            dico['profondeurMesures'].append(int(num))
    # on va ensuite mettre les dataframes dans le dictionnaire
    contenuDossierPoint = os.listdir(dico['chemin'])
    for x in contenuDossierPoint:
        # la pression
        if (x.startswith('p') and x.endswith('.csv')) and not x.endswith('cleaned.csv') :
            dico['pression'] = read_csv(dico['chemin'] + '/' + x)
        # la température
        if x.startswith('t') and x.endswith('.csv'):
            dico['temperature'] = read_csv(dico['chemin'] + '/' + x)
    # dans les configurations du capteur on va chercher les données
    chemin_etalonnage = 'configuration/pressure_sensors/P' + dico['capteur'][1:] +'.csv'
    if os.path.exists(chemin_etalonnage):
        with open(chemin_etalonnage) as fichier :
            lignes = fichier.readlines()
            for l in lignes :
                if l.startswith('Intercept') :
                    dico['intercept'] = float(l[10:-2])
                if l.startswith('dU/dH') :
                    dico['dU/dH'] = float(l[6:-2])
                if l.startswith('dU/dT') :
                    dico['dU/dT'] = float(l[6:-2]) 
    data.append(dico)

FileNotFoundError: [Errno 2] No such file or directory: './raw_data/point50_131023/geometrie.txt'

In [ ]:

#data[0]['pression']['Date Heure, GMT+01:00'].is_monotonic_increasing
#data[5]['numero']

False

In [ ]:
# en faisant data[0] on a accès à toutes les informations du point 1
data[0]

{'numero': '35',
 'nom': 'point35',
 'date': '',
 'chemin': './raw_data/point35',
 'capteur': 'p508',
 'profondeur': 0,
 'profondeurMesures': [10, 20, 30, 40],
 'temperature':      Date Heure, GMT+01:00  Temp., °C (LGR S/N: 10117164, SEN S/N: 10117164)  \
 0     07/12/16 11:00:00 AM                                            22.154
 1     07/12/16 11:15:00 AM                                            26.500
 2     07/12/16 11:30:00 AM                                            14.553
 3     07/12/16 11:45:00 AM                                            14.768
 4     07/12/16 12:00:00 PM                                            15.031
 ...                    ...                                               ...
 2110  08/03/16 10:30:00 AM                                            14.409
 2111  08/03/16 10:45:00 AM                                            17.819
 2112  08/03/16 11:00:00 AM                                            19.318
 2113  08/03/16 11:12:54 AM                                               NaN
 2114  08/03/16 11:13:05 AM                                               NaN

       Temp., °C (LGR S/N: 10117164, SEN S/N: 10117164).1  \
 0                                                21.604
 1                                                27.038
 2                                                13.738
 3                                                14.002
 4                                                14.649
 ...                                                 ...
 2110                                             13.810
 2111                                             16.915
 2112                                             18.818
 2113                                                NaN
 2114                                                NaN

       Temp., °C (LGR S/N: 10117164, SEN S/N: 10117164).2  \
 0                                                20.317
 1                                                23.737
 2                                                13.690
 3                                                13.954
 4                                                14.816
 ...                                                 ...
 2110                                             13.738
 2111                                             17.368
 2112                                             18.485
 2113                                                NaN
 2114                                                NaN

       Temp., °C (LGR S/N: 10117164, SEN S/N: 10117164).3
 0                                                20.650
 1                                                21.819
 2                                                13.738
 3                                                14.002
 4                                                15.079
 ...                                                 ...
 2110                                             14.074
 2111                                             17.296
 2112                                             18.533
 2113                                                NaN
 2114                                                NaN

 [2115 rows x 5 columns],
 'pression':      Date Heure, GMT+01:00  \
 0     07/12/16 12:00:00 PM
 1     07/12/16 12:15:00 PM
 2     07/12/16 12:30:00 PM
 3     07/12/16 12:45:00 PM
 4     07/12/16 01:00:00 PM
 ...                    ...
 2106  08/03/16 10:30:00 AM
 2107  08/03/16 10:45:00 AM
 2108  08/03/16 11:00:00 AM
 2109  08/03/16 11:06:59 AM
 2110  08/03/16 11:09:23 AM

       Tension, V (LGR S/N: 10445475, SEN S/N: 10445475, LBL: température)  \
 0                                               1.56471
 1                                               0.62210
 2                                               0.63614
 3                                               0.69780
 4                                               0.66911
 ...                                                 ...
 2106                                            2.49939
 2107                                            2.49939
 2108                                            2.49939
 2109                                                NaN
 2110                                                NaN

       Temp., °C (LGR S/N: 10445475, SEN S/N: 10445475, LBL: Température)
 0                                                20.007
 1                                                14.361
 2                                                14.314
 3                                                14.218
 4                                                14.098
 ...                                                 ...
 2106                                             14.314
 2107                                             17.558
 2108                                             18.129
 2109                                                NaN
 2110                                                NaN

 [2111 rows x 3 columns],
 'intercept': 1.21034,
 'dU/dH': -1.46249,
 'dU/dT': 0.00147}

# Est ce que les fichiers peuvent être utilisés ?

**Dans notre cas, nous prendrons ces solutions**

* S'il manque toutes les données du capteurs de pression ou l'étalonnage, nous déciderons que ce point est invalide.
* S'il manque une partie des données nous vérifierons que nous avons au mimimun 7 jours de données
* S'il manque plus de 2 capteurs de température, nous déciderons que ce point est invalide.

### Est ce que nous avons les données de l'étalonnage du capteur ?

In [ ]:
for x in data :
    if not 'intercept' in x.keys() :
        print('le point '+ x['numero'] + ' n\'a pas d\'étalonnage, il n\'est pas valide')
        data.remove(x)

### Est ce que nous avons des données pour le capteur de pression ?

In [ ]:
for x in data :
    if x['pression'].empty :
        print('le point '+ x['numero'] + ' n\'a pas de données de pression, il n\'est pas valide')
        data.remove(x)

In [ ]:
data[0]['pression']

,"Date Heure, GMT+01:00","Tension, V (LGR S/N: 10445475, SEN S/N: 10445475, LBL: température)","Temp., °C (LGR S/N: 10445475, SEN S/N: 10445475, LBL: Température)"
0,07/12/16 12:00:00 PM,1.56471,20.007
1,07/12/16 12:15:00 PM,0.62210,14.361
2,07/12/16 12:30:00 PM,0.63614,14.314
3,07/12/16 12:45:00 PM,0.69780,14.218
4,07/12/16 01:00:00 PM,0.66911,14.098
...,...,...,...
2106,08/03/16 10:30:00 AM,2.49939,14.314
2107,08/03/16 10:45:00 AM,2.49939,17.558
2108,08/03/16 11:00:00 AM,2.49939,18.129
2109,08/03/16 11:06:59 AM,NaN,NaN
2110,08/03/16 11:09:23 AM,NaN,NaN

### On modifie les nom des colonnes du dataframe

In [ ]:
# pour les températures
for x in data :
    # on supprime les colonnes qui ne servent à rien
    for i in x['temperature'].columns :
        if not( i.startswith(('Date', 'dates', 'temp','Temp'))) :
            del x['temperature'][i]
    for i in x['pression'].columns :
        if not( i.startswith(('Date', 'dates', 'Tension', 'tension', 'pressure', 'temp', 'Temp'))) :
            del x['pression'][i]
    # on renomme les colonnes
    profondeur = x['profondeurMesures']
    colonnesT = ['dates']
    for num in profondeur :
        colonnesT.append('Temp_profondeur_'+ str(num))
    print(colonnesT)
    print(x['temperature'].columns)
    x['temperature'].columns = colonnesT
    colonnesP = ['dates', 'tension', 'temperature_stream']
    x['pression'].columns = colonnesP

['dates', 'Temp_profondeur_10', 'Temp_profondeur_20', 'Temp_profondeur_30', 'Temp_profondeur_40']
Index(['Date Heure, GMT+01:00',
       'Temp., °C (LGR S/N: 10117164, SEN S/N: 10117164)',
       'Temp., °C (LGR S/N: 10117164, SEN S/N: 10117164).1',
       'Temp., °C (LGR S/N: 10117164, SEN S/N: 10117164).2',
       'Temp., °C (LGR S/N: 10117164, SEN S/N: 10117164).3'],
      dtype='object')
['dates', 'Temp_profondeur_10', 'Temp_profondeur_20', 'Temp_profondeur_30', 'Temp_profondeur_40']
Index(['Date Heure, GMT+02:00',
       'Temp., °C (LGR S/N: 10117161, SEN S/N: 10117161)',
       'Temp., °C (LGR S/N: 10117161, SEN S/N: 10117161).1',
       'Temp., °C (LGR S/N: 10117161, SEN S/N: 10117161).2',
       'Temp., °C (LGR S/N: 10117161, SEN S/N: 10117161).3'],
      dtype='object')
['dates', 'Temp_profondeur_7', 'Temp_profondeur_22', 'Temp_profondeur_37', 'Temp_profondeur_52']
Index(['Date Heure, GMT+02:00',
       'Temp. °C (LGR S/N: 10445474, SEN S/N: 10445474)',
       'Temp. °C (LGR S/N: 10445474 SEN S/N: 10445474)',
       'Temp. °C (LGR S/N: 10445474 SEN S/N: 10445474).1',
       'Temp. °C (LGR S/N: 10445474 SEN S/N: 10445474).2'],
      dtype='object')
['dates', 'Temp_profondeur_10', 'Temp_profondeur_20', 'Temp_profondeur_30', 'Temp_profondeur_40']
Index(['Date Heure, GMT+01:00',
       'Temp., °C (LGR S/N: 10117166, SEN S/N: 10117166, LBL: Température)',
       'Temp., °C (LGR S/N: 10117166, SEN S/N: 10117166, LBL: Température).1',
       'Temp., °C (LGR S/N: 10117166, SEN S/N: 10117166, LBL: Température).2',
       'Temp., °C (LGR S/N: 10117166, SEN S/N: 10117166, LBL: Température).3'],
      dtype='object')
['dates', 'Temp_profondeur_10', 'Temp_profondeur_20', 'Temp_profondeur_30', 'Temp_profondeur_40']
Index(['Date Heure, GMT+02:00',
       'Temp., °C (LGR S/N: 10117154, SEN S/N: 10117154)',
       'Temp., °C (LGR S/N: 10117154, SEN S/N: 10117154).1',
       'Temp., °C (LGR S/N: 10117154, SEN S/N: 10117154).2',
       'Temp., °C (LGR S/N: 10117154, SEN S/N: 10117154).3'],
      dtype='object')
['dates', 'Temp_profondeur_10', 'Temp_profondeur_20', 'Temp_profondeur_30', 'Temp_profondeur_40']
Index(['Date Heure, GMT+01:00',
       'Temp., °C (LGR S/N: 10117164, SEN S/N: 10117164)',
       'Temp., °C (LGR S/N: 10117164, SEN S/N: 10117164).1',
       'Temp., °C (LGR S/N: 10117164, SEN S/N: 10117164).2',
       'Temp., °C (LGR S/N: 10117164, SEN S/N: 10117164).3'],
      dtype='object')
['dates', 'Temp_profondeur_10', 'Temp_profondeur_20', 'Temp_profondeur_30', 'Temp_profondeur_40']
Index(['Date Heure, GMT+01:00',
       'Temp., C (LGR S/N: 10117166, SEN S/N: 10117166, LBL: Temperature)',
       'Temp., C (LGR S/N: 10117166, SEN S/N: 10117166, LBL: Temperature).1',
       'Temp., C (LGR S/N: 10117166, SEN S/N: 10117166, LBL: Temperature).2',
       'Temp., C (LGR S/N: 10117166, SEN S/N: 10117166, LBL: Temperature).3'],
      dtype='object')
['dates', 'Temp_profondeur_10', 'Temp_profondeur_20', 'Temp_profondeur_30', 'Temp_profondeur_40']
Index(['Date Heure, GMT+01:00',
       'Temp., °C (LGR S/N: 10117166, SEN S/N: 10117166, LBL: Température)',
       'Temp., °C (LGR S/N: 10117166, SEN S/N: 10117166, LBL: Température).1',
       'Temp., °C (LGR S/N: 10117166, SEN S/N: 10117166, LBL: Température).2',
       'Temp., °C (LGR S/N: 10117166, SEN S/N: 10117166, LBL: Température).3'],
      dtype='object')
['dates', 'Temp_profondeur_10', 'Temp_profondeur_20', 'Temp_profondeur_30', 'Temp_profondeur_40']
Index(['dates', 'temperature_depth_1_C', 'temperature_depth_2_C',
       'temperature_depth_3_C', 'temperature_depth_4_C'],
      dtype='object')

In [ ]:
# notamment la température et la pression
data[0]['temperature'].head(5)

,dates,Temp_profondeur_10,Temp_profondeur_20,Temp_profondeur_30,Temp_profondeur_40
0,07/12/16 11:00:00 AM,22.154,21.604,20.317,20.650
1,07/12/16 11:15:00 AM,26.500,27.038,23.737,21.819
2,07/12/16 11:30:00 AM,14.553,13.738,13.690,13.738
3,07/12/16 11:45:00 AM,14.768,14.002,13.954,14.002
4,07/12/16 12:00:00 PM,15.031,14.649,14.816,15.079

## Conversion de valeurs de tension a differance de charge

In [ ]:
for point in data:
    k0 = float(point['intercept'])
    k1 = float(point['dU/dH'])
    k2 = float(point['dU/dT'])
    
    # Calcul de la colonne 'dH' en utilisant la formule H = 1/k1 * (U - k0 - k2 * T)
    U = point['pression']['tension'].astype(float)
    T = point['pression']['temperature_stream'].astype(float)
    point['pression']['dH'] = (1 / k1) * (U - k0 - k2 * T)

data[0]['pression']

                     dates  tension  temperature_stream        dH
0     07/12/16 12:00:00 PM  1.56471              20.007 -0.222196
1     07/12/16 12:15:00 PM  0.62210              14.361  0.416653
2     07/12/16 12:30:00 PM  0.63614              14.314  0.407006
3     07/12/16 12:45:00 PM  0.69780              14.218  0.364748
4     07/12/16 01:00:00 PM  0.66911              14.098  0.384245
...                    ...      ...                 ...       ...
2106  08/03/16 10:30:00 AM  2.49939              14.314 -0.867020
2107  08/03/16 10:45:00 AM  2.49939              17.558 -0.863760
2108  08/03/16 11:00:00 AM  2.49939              18.129 -0.863186
2109  08/03/16 11:06:59 AM      NaN                 NaN       NaN
2110  08/03/16 11:09:23 AM      NaN                 NaN       NaN

[2111 rows x 4 columns]

### On enlève les valeurs Nan

In [ ]:
for x in data :
    x['temperature'] = x['temperature'].dropna(axis = 0, how = 'any')
    x['pression'] = x['pression'].dropna(axis = 0, how='any')

In [ ]:
from dateutil import parser

# Conversion dans le bon format date
for x in data:
    x['pression']['dates'] = x['pression']['dates'].apply(lambda x: parser.parse(x).strftime('%d-%m-%Y %H:%M'))
    x['temperature']['dates'] = x['temperature']['dates'].apply(lambda x: parser.parse(x).strftime('%d-%m-%Y %H:%M'))
#    point['pression']['dates'] = pd.to_datetime(point['pression']['dates'], format='mixed')
#    point['temperature']['dates'] = pd.to_datetime(point['temperature']['dates'], format='mixed')

<ipython-input-14-06f3f1cb27e0>:5: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  x['pression']['dates'] = x['pression']['dates'].apply(lambda x: parser.parse(x).strftime('%d-%m-%Y %H:%M'))

In [ ]:
data[0]['pression'].head(5)

              dates  tension  temperature_stream        dH
0  12-07-2016 12:00  1.56471              20.007 -0.222196
1  12-07-2016 12:15  0.62210              14.361  0.416653
2  12-07-2016 12:30  0.63614              14.314  0.407006
3  12-07-2016 12:45  0.69780              14.218  0.364748
4  12-07-2016 13:00  0.66911              14.098  0.384245

In [ ]:
for x in data :
    # Traiter chaque colonne sauf la colonne des dates
    columns_to_processP = [col for col in x['pression'].columns if col != 'dates']
    columns_to_processT = [col for col in x['temperature'].columns if col != 'dates']
    # Créer un DataFrame vide pour stocker les données traitées
    x['pression2'] = x['pression'][['dates']].copy()
    x['temperature2'] = x['temperature'][['dates']].copy()
    # Boucler à travers chaque colonne à traiter
    for column_name in columns_to_processP :
        # Calculer le Z-score pour la colonne
        z_scores = np.abs(stats.zscore(x['pression'][column_name]))
        # Définir un seuil pour le Z-score (par exemple, 3)
        threshold = 3
        # Sélectionner les lignes avec des Z-scores inférieurs au seuil
        df_cleaned = x['pression'][z_scores < threshold] 
        # Copier les données traitées dans df_processed
        x['pression2'][column_name] = df_cleaned[column_name]
    # pareil pour les températures
    for column_name in columns_to_processT :
        # Calculer le Z-score pour la colonne
        z_scores = np.abs(stats.zscore(x['temperature'][column_name]))
        # Définir un seuil pour le Z-score (par exemple, 3)
        threshold = 3
        # Sélectionner les lignes avec des Z-scores inférieurs au seuil
        df_cleaned = x['temperature'][z_scores < threshold] 
        # Copier les données traitées dans df_processed
        x['temperature2'][column_name] = df_cleaned[column_name]

In [ ]:
# Fonction pour calculer les statistiques et les valeurs IQR
def calculate_quantiles_iqr(df, column_name):
    median = df[column_name].median()
    # Calculer les quantiles Q1 et Q3 pour la colonne spécifiée
    q1 = df[column_name].quantile(0.25)
    q3 = df[column_name].quantile(0.75)
    
    # Calculer l'IQR
    iqr = q3 - q1
    minimum = q1 - 1.5 * iqr  # Valeur minimale (|- dans la boîte à moustaches)
    maximum = q3 + 1.5 * iqr  # Valeur maximale (-| dans la boîte à moustaches)
    return median, q1, q3, iqr, minimum, maximum

# Fonction pour obtenir un texte décrivant les statistiques de base
def get_iqr_text(df, col_name):
    # Calcul des statistiques de base
    median, q1, q3, iqr, minimum, maximum = calculate_quantiles_iqr(df, col_name)
    
    # Création du texte
    text = f"médiane={median:.2f}, Q1={q1:.2f}, Q3={q3:.2f}, IQR={iqr:.2f}, minimum={minimum:.2f}, maximum={maximum:.2f}"
    return text

# Fonction pour supprimer les valeurs aberrantes
def remove_outliers(df, col_name):
    # Obtention des limites pour les valeurs non aberrantes
    _, _, _, _, minimum, maximum = calculate_quantiles_iqr(df, col_name)
    
    # Sélection des lignes avec des valeurs non aberrantes
    df_out = df.loc[(df[col_name] > minimum) & (df[col_name] < maximum)]
    return df_out

# Fonction pour compter les valeurs aberrantes
def count_outliers(df_in, col_name):
    # Obtention des limites pour les valeurs aberrantes
    _, _, _, _, minimum, maximum = calculate_quantiles_iqr(df_in, col_name)
    
    # Sélection des lignes avec des valeurs aberrantes
    df_outliers = df_in.loc[(df_in[col_name] <= minimum) | (df_in[col_name] >= maximum)]
    
    # Comptage des valeurs aberrantes
    num_outliers = df_outliers.shape[0]
    return num_outliers

# Fonction pour générer un graphique de boîte à moustaches
def box_and_whisker(df_in, col_name):
    # Obtention du texte décrivant les statistiques
    title = get_iqr_text(df_in, col_name)
    
    # Tracé du graphique de boîte à moustaches
    sns.boxplot(df_in[col_name])
    plt.title(title)
    plt.show()

# Fonction pour tracer les données avec et sans valeurs aberrantes
def plot_data_with_and_without_outliers(df, col_name):
    plt.figure(figsize=(12, 6))
    
    # Tracé des données brutes
    plt.subplot(1, 2, 1)
    plt.title("Données brutes")
    sns.boxplot(df[col_name])
    
    # Tracé des données sans valeurs aberrantes
    plt.subplot(1, 2, 2)
    plt.title("Données sans valeurs aberrantes")
    df_cleaned = remove_outliers(df, col_name)
    sns.boxplot(df_cleaned[col_name])
    
    plt.tight_layout()
    plt.show()

In [ ]:
def nb_val_abberantes(capteur_riviere, capteur_ZH):
    df = capteur_ZH.copy()
    df["temperature_stream"] = capteur_riviere[["temperature_stream"]]
    df["dH"] = capteur_riviere[["dH"]]
    for column in df.columns:
        if column != "dates":
            print(f"Analyse pour la colonne : {column}")
            #plot_data_with_and_without_outliers(df, column)
            #print(f"Nombre de valeurs aberrantes : {count_outliers(df, column)}\n")
            
    # Créer un DataFrame vide pour stocker les données traitées
    df_processed = df[["dates"]].copy()

    # Boucler à travers chaque colonne de df
    for column_name in df.columns:
        if column_name == "dates":
            continue  # Ignorer la colonne des dates
            
        # Traiter la colonne et stocker les données traitées dans df_processed
        median, q1, q3, iqr, minimum, maximum = calculate_quantiles_iqr(df, column_name)
        df_processed[f"{column_name}"] = remove_outliers(df, column_name)[column_name]
        
    # Afficher les statistiques des données traitées
    print(df_processed.describe())
    return df, df_processed

In [ ]:
for x in data :
    df_processed  = nb_val_abberantes(x['pression'], x['temperature'])[1]
    df_processed = df_processed.dropna(axis = 0, how='any')
    x['pression2'] = df_processed[['dates', 'temperature_stream', 'dH']].copy()
    x['temperature2'] = df_processed.drop(columns = [ 'temperature_stream','dH']).copy()

Analyse pour la colonne : Temp_profondeur_10
Analyse pour la colonne : Temp_profondeur_20
Analyse pour la colonne : Temp_profondeur_30
Analyse pour la colonne : Temp_profondeur_40
Analyse pour la colonne : temperature_stream
Analyse pour la colonne : dH
       Temp_profondeur_10  Temp_profondeur_20  Temp_profondeur_30  \
count         2090.000000         2044.000000         2024.000000
mean            14.910749           14.063272           13.789086
std              0.679988            0.366243            0.254697
min             13.401000           13.137000           13.161000
25%             14.433000           13.858000           13.714000
50%             14.888000           14.098000           13.858000
75%             15.366000           14.337000           13.978000
max             16.820000           14.888000           14.385000

       Temp_profondeur_40  temperature_stream           dH
count         2045.000000         2106.000000  1820.000000
mean            13.986435           14.198030    -0.176779
std              0.210613            0.978451     0.162025
min             13.473000           11.783000    -0.682674
25%             13.882000           13.546000    -0.270215
50%             14.098000           14.098000    -0.182163
75%             14.122000           14.888000    -0.074106
max             14.409000           16.844000     0.270346
Analyse pour la colonne : Temp_profondeur_10
Analyse pour la colonne : Temp_profondeur_20
Analyse pour la colonne : Temp_profondeur_30
Analyse pour la colonne : Temp_profondeur_40
Analyse pour la colonne : temperature_stream
Analyse pour la colonne : dH
       Temp_profondeur_10  Temp_profondeur_20  Temp_profondeur_30  \
count          560.000000          538.000000          560.000000
mean            16.932904           16.787857           16.730759
std              0.644028            0.619725            0.678342
min             15.986000           15.629000           15.867000
25%             16.344000           16.320000           16.082000
50%             16.654000           16.534000           16.451000
75%             17.629000           17.177000           17.463000
max             18.509000           18.652000           18.461000

       Temp_profondeur_40  temperature_stream          dH
count          549.000000          557.000000  553.000000
mean            15.656399           16.260767   -0.013820
std              0.965105            0.564155    0.002387
min             14.170000           15.372000   -0.017243
25%             14.960000           15.799000   -0.015719
50%             15.390000           16.153000   -0.014228
75%             16.439000           16.687000   -0.012600
max             18.485000           17.383000   -0.007284
Analyse pour la colonne : Temp_profondeur_7
Analyse pour la colonne : Temp_profondeur_22
Analyse pour la colonne : Temp_profondeur_37
Analyse pour la colonne : Temp_profondeur_52
Analyse pour la colonne : temperature_stream
Analyse pour la colonne : dH
       Temp_profondeur_7  Temp_profondeur_22  Temp_profondeur_37  \
count         555.000000          554.000000          554.000000
mean           16.564099           16.403121           16.007872
std             1.182784            0.883059            0.798588
min            15.103000           14.601000           13.690000
25%            15.485000           15.605000           15.247000
50%            16.106000           15.915000           15.784000
75%            17.629000           17.266250           16.773000
max            20.817000           18.604000           18.224000

       Temp_profondeur_52  temperature_stream         dH
count          553.000000           12.000000  12.000000
mean            17.649013           24.512167  -0.027141
std              0.516249            3.954070   0.013257
min             16.392000           18.200000  -0.041740
25%             17.153000           22.051500  -0.037221
50%             17.653000           26.365500  -0.032503
75%             18.105000           27.050750  -0.016435
max             18.866000           28.369000  -0.006440
Analyse pour la colonne : Temp_profondeur_10
Analyse pour la colonne : Temp_profondeur_20
Analyse pour la colonne : Temp_profondeur_30
Analyse pour la colonne : Temp_profondeur_40
Analyse pour la colonne : temperature_stream
Analyse pour la colonne : dH
       Temp_profondeur_10  Temp_profondeur_20  Temp_profondeur_30  \
count         2648.000000         2586.000000         2666.000000
mean            23.105678           21.064251           18.978596
std              1.844638            1.768023            1.618675
min             18.277288           18.376073           16.451266
25%             21.693787           19.770778           17.804438
50%             22.454312           20.286085           18.252476
75%             24.841124           22.775343           20.404086
max             28.331469           27.481538           24.799792

       Temp_profondeur_40  temperature_stream           dH
count         2713.000000         2731.000000  2731.000000
mean            16.809351           25.052986     0.014221
std              1.599658            2.285324     0.045426
min             14.302000           21.113000    -0.107909
25%             15.594000           23.163000    -0.022613
50%             16.110000           24.605000     0.024639
75%             18.425000           26.773500     0.053148
max             19.688000           31.230000     0.078871
Analyse pour la colonne : Temp_profondeur_10
Analyse pour la colonne : Temp_profondeur_20
Analyse pour la colonne : Temp_profondeur_30
Analyse pour la colonne : Temp_profondeur_40
Analyse pour la colonne : temperature_stream
Analyse pour la colonne : dH
       Temp_profondeur_10  Temp_profondeur_20  Temp_profondeur_30  \
count          562.000000          566.000000          566.000000
mean            16.147274           15.976855           16.343615
std              1.071275            0.923462            0.836122
min             14.050000           14.026000           14.146000
25%             15.127000           15.127000           15.557000
50%             15.724000           15.461000           16.022000
75%             17.171000           16.868000           17.130000
max             18.319000           18.152000           18.461000

       Temp_profondeur_40  temperature_stream          dH
count          562.000000          562.000000  562.000000
mean            16.519916           15.790911    0.090890
std              0.718342            1.264824    0.002843
min             14.673000           13.786000    0.085693
25%             15.819000           14.745000    0.088283
50%             16.427000           15.569000    0.091941
75%             17.177000           16.749000    0.093035
max             18.390000           18.271000    0.095674
Analyse pour la colonne : Temp_profondeur_10
Analyse pour la colonne : Temp_profondeur_20
Analyse pour la colonne : Temp_profondeur_30
Analyse pour la colonne : Temp_profondeur_40
Analyse pour la colonne : temperature_stream
Analyse pour la colonne : dH
       Temp_profondeur_10  Temp_profondeur_20  Temp_profondeur_30  \
count         2047.000000         2014.000000         2095.000000
mean            17.247677           16.905363           16.434372
std              1.036759            0.775645            0.695919
min             14.481000           14.912000           14.721000
25%             16.654000           16.487000           16.082000
50%             17.320000           17.034000           16.677000
75%             17.986000           17.486000           17.011000
max             19.722000           18.295000           17.320000

       Temp_profondeur_40  temperature_stream           dH
count         1705.000000         2031.000000  1649.000000
mean           404.743925           17.807085    -0.014248
std             22.601259            1.602324     0.000831
min            379.278000           13.425000    -0.018339
25%            379.278000           16.784500    -0.014693
50%            424.791000           17.796000    -0.014188
75%            424.791000           18.913000    -0.013641
max            424.791000           22.226000    -0.011808
Analyse pour la colonne : Temp_profondeur_10
Analyse pour la colonne : Temp_profondeur_20
Analyse pour la colonne : Temp_profondeur_30
Analyse pour la colonne : Temp_profondeur_40
Analyse pour la colonne : temperature_stream
Analyse pour la colonne : dH
       Temp_profondeur_10  Temp_profondeur_20  Temp_profondeur_30  \
count         2655.000000         2655.000000         2655.000000
mean            15.255462           14.795151           14.419620
std              2.422127            1.890666            1.553758
min             11.886272           12.057708           12.093906
25%             13.396429           13.436518           13.404255
50%             13.937405           13.839720           13.670418
75%             17.758692           16.465919           15.831816
max             19.674347           18.871461           17.342489

       Temp_profondeur_40  temperature_stream           dH
count         2655.000000         2656.000000  2656.000000
mean            14.410829           14.778131    -0.007929
std              1.571368            2.251325     0.027781
min             11.972000           10.916000    -0.049122
25%             13.258000           12.950000    -0.032118
50%             13.757000           14.324500    -0.014144
75%             15.876000           16.457750     0.014347
max             17.358000           21.033000     0.067366
Analyse pour la colonne : Temp_profondeur_10
Analyse pour la colonne : Temp_profondeur_20
Analyse pour la colonne : Temp_profondeur_30
Analyse pour la colonne : Temp_profondeur_40
Analyse pour la colonne : temperature_stream
Analyse pour la colonne : dH
       Temp_profondeur_10  Temp_profondeur_20  Temp_profondeur_30  \
count         1410.000000         1401.000000         1364.000000
mean            14.680218           14.466785           14.295221
std              0.673236            0.484650            0.358595
min             13.329000           13.642000           13.762000
25%             14.146000           14.098000           14.050000
50%             14.601000           14.385000           14.218000
75%             15.079000           14.745000           14.457000
max             16.582000           15.772000           15.175000

       Temp_profondeur_40  temperature_stream           dH
count         1294.000000         1414.000000  1432.000000
mean            14.017131           14.918825    -0.018457
std              0.221935            0.942219     0.008119
min             13.690000           12.800000    -0.030662
25%             13.858000           14.210250    -0.025305
50%             13.954000           14.819500    -0.020588
75%             14.146000           15.533750    -0.009890
max             14.649000           17.549000    -0.003897
Analyse pour la colonne : Temp_profondeur_10
Analyse pour la colonne : Temp_profondeur_20
Analyse pour la colonne : Temp_profondeur_30
Analyse pour la colonne : Temp_profondeur_40
Analyse pour la colonne : temperature_stream
Analyse pour la colonne : dH
       Temp_profondeur_10  Temp_profondeur_20  Temp_profondeur_30  \
count        19200.000000        19200.000000        19200.000000
mean            17.727067           17.649669           17.492131
std              3.173414            3.025371            2.906061
min             10.589000           11.209000           11.859000
25%             14.971500           15.042000           15.031000
50%             17.507000           17.482000           17.286000
75%             20.132000           20.100000           19.997000
max             26.564000           25.805000           24.073000

       Temp_profondeur_40  temperature_stream            dH
count        19200.000000        19200.000000  19172.000000
mean            17.431320           17.771933     -0.205347
std              2.809151            3.273073      0.184233
min             11.602000           10.013000     -0.652110
25%             15.124000           14.978000     -0.302650
50%             17.239000           17.476500     -0.176841
75%             19.875500           20.141000     -0.068961
max             23.551000           27.550000      0.257817
Analyse pour la colonne : Temp_profondeur_10
Analyse pour la colonne : Temp_profondeur_20
Analyse pour la colonne : Temp_profondeur_30
Analyse pour la colonne : Temp_profondeur_40
Analyse pour la colonne : temperature_stream
Analyse pour la colonne : dH
       Temp_profondeur_10  Temp_profondeur_20  Temp_profondeur_30  \
count         2229.000000         2208.000000         2157.000000
mean            12.212758           12.373454           12.475401
std              1.200335            0.911528            0.713360
min              8.954000           10.207000           10.930000
25%             11.323000           11.606500           11.909000
50%             12.474000           12.572500           12.615000
75%             12.877000           12.924000           12.913000
max             15.326000           14.743000           14.249000

       Temp_profondeur_40  temperature_stream           dH
count         2125.000000         1710.000000  1693.000000
mean            12.651670           12.243892     0.288794
std              0.581596            1.033540     0.010815
min             11.545000           10.242000     0.261559
25%             12.266000           11.417000     0.280283
50%             12.763000           12.472000     0.288910
75%             12.993000           12.861750     0.296871
max             14.018000           14.828000     0.316985
Analyse pour la colonne : Temp_profondeur_10
Analyse pour la colonne : Temp_profondeur_20
Analyse pour la colonne : Temp_profondeur_30
Analyse pour la colonne : Temp_profondeur_40
Analyse pour la colonne : temperature_stream
Analyse pour la colonne : dH
       Temp_profondeur_10  Temp_profondeur_20  Temp_profondeur_30  \
count         2122.000000         2152.000000         2198.000000
mean            12.398615           12.606489           12.428112
std              0.523434            0.649469            0.814984
min             11.409000           11.272000           10.589000
25%             12.072500           12.119750           11.762000
50%             12.505500           12.731500           12.592000
75%             12.710000           12.987000           12.915000
max             13.703000           14.164000           14.457000

       Temp_profondeur_40  temperature_stream           dH
count         2254.000000         2247.000000  2214.000000
mean            12.326276           12.124445     0.314517
std              1.044105            1.357770     0.011249
min              9.778000            8.501000     0.286676
25%             11.501250           11.154000     0.307909
50%             12.576500           12.412000     0.312733
75%             12.884500           12.903000     0.320385
max             15.040000           15.621000     0.343813

In [ ]:
df_processed.head()

,dates,Temp_profondeur_10,Temp_profondeur_20,Temp_profondeur_30,Temp_profondeur_40,temperature_stream,dH
0,13-10-2023 10:45,NaN,14.137,14.200,14.408,NaN,NaN
1,13-10-2023 11:00,NaN,14.140,14.204,14.429,15.602,0.340719
2,13-10-2023 11:15,NaN,14.143,14.213,14.448,NaN,0.340372
3,13-10-2023 11:30,NaN,14.147,14.220,14.468,NaN,NaN
4,13-10-2023 11:45,NaN,14.152,14.229,14.490,NaN,NaN

In [ ]:
for x in data :
    x['temperature2'] = x['temperature2'].dropna(axis = 0, how = 'any')
    x['pression2'] = x['pression2'].dropna(axis = 0, how='any')

In [ ]:
# on met à jour la date de début de la mesure, la date de fin et la période
from datetime import datetime

for x in data :
    x['dateDebut'] = datetime.strptime(x['pression2']['dates'].iloc[0], '%d-%m-%Y %H:%M')
    x['dateFin'] = datetime.strptime(x['pression2']['dates'].iloc[x['pression2']['dates'].shape[0]-1], '%d-%m-%Y %H:%M')
    x['periode'] = x['dateFin'] - x['dateDebut']

In [ ]:
for x in data :
    x['pression2']['dates'].apply(lambda x: datetime.strptime(x, '%d-%m-%Y %H:%M'))
    x['temperature2']['dates'].apply(lambda x: datetime.strptime(x, '%d-%m-%Y %H:%M'))
    x['pression']['dates'].apply(lambda x: datetime.strptime(x, '%d-%m-%Y %H:%M'))
    x['temperature']['dates'].apply(lambda x: datetime.strptime(x, '%d-%m-%Y %H:%M'))

### Est ce que nous avons au minimum 3 jours de données ?

In [ ]:
for x in data :
    if x['periode'].days <= 3 :
        print('le point ' + x['numero'] + ' n\'est pas valide car sa période est de seulement ' + str(x['periode'])[0] +' jours')
        data.remove(x)

le point 15 n'est pas valide car sa période est de seulement 2 jours

### Création du fichier `info.txt`

In [ ]:
# Ouvrez un fichier en mode écriture ('w')
for x in data :
    if os.path.exists(x['chemin'] + '/point' + x['numero'] + '_info.txt') :
        os.remove(x['chemin'] + '/point' + x['numero'] + '_info.txt')
    with open(x['chemin'] + '/point' + x['numero'] + '_info.txt', 'w') as fichier:
        # Parcourez le dictionnaire et écrivez les données dans le fichier
        fichier.write('Point_Name,Point' + x['numero'] + '\n')
        fichier.write('P_Sensor_Name,' + x['capteur'] + '\n')
        fichier.write('Implantation_Date,' + x['date'] + '\n')
        fichier.write('Meas_date,' + str(x['dateDebut']) + '\n')
        fichier.write('River_Deb,' '\n') 
        fichier.write('Delta_h,' + '\n')
        fichier.write('Periode,' + str(x['periode']) + '\n')

In [ ]:
data[0]['temperature2']

,dates,Temp_profondeur_10,Temp_profondeur_20,Temp_profondeur_30,Temp_profondeur_40,temperature_stream,dH
6,23-07-2015 14:00,18.319,17.938,18.247,18.390,18.224,0.085830
7,23-07-2015 14:15,18.224,17.653,17.915,17.986,18.081,0.086050
8,23-07-2015 14:30,18.105,17.558,17.796,17.796,18.057,0.086018
9,23-07-2015 14:45,18.081,17.534,17.748,17.748,18.057,0.086018
10,23-07-2015 15:00,18.057,17.510,17.724,17.724,18.176,0.085767
...,...,...,...,...,...,...,...
557,29-07-2015 07:45,14.745,14.792,15.294,15.581,14.170,0.095563
558,29-07-2015 08:00,14.745,14.792,15.270,15.581,14.194,0.095526
559,29-07-2015 08:15,14.721,14.768,15.270,15.557,14.242,0.095452
560,29-07-2015 08:30,14.721,14.768,15.270,15.557,14.194,0.095526
561,29-07-2015 08:45,14.697,14.768,15.247,15.557,14.625,0.094863

In [178]:
i = 10
#plt.plot(data[i]['pression']['dates'], data[i]['pression']['dH']*150, color = 'blue')
data[i]['temperature'].plot(x='dates', y=['Temp_profondeur_10', 'Temp_profondeur_20', 'Temp_profondeur_30', 'Temp_profondeur_40'], rot=45, kind='line')
data[i]['temperature2'].plot(x='dates', y=['Temp_profondeur_10', 'Temp_profondeur_20', 'Temp_profondeur_30', 'Temp_profondeur_40'], rot=45, kind='line')

#plt.plot(data[i]['pression']['dates'], data[i]['pression']['temperature_stream'], color = 'red')
plt.show()

IndexError: list index out of range

14, 35, 46,

In [157]:
data[i]['pression']['dates'].is_monotonic_increasing

True

In [158]:
### Création du fichier `data.csv`
for x in data :
    if os.path.exists(x['chemin'] + '/point' + x['numero'] + '_pression_cleaned.csv') :
        os.remove(x['chemin'] + '/point' + x['numero'] + '_pression_cleaned.csv')
    if os.path.exists(x['chemin'] + '/point' + x['numero'] + '_temperature_cleaned.csv') :
        os.remove(x['chemin'] + '/point' + x['numero'] + '_temperature_cleaned.csv')
    
    with open(x['chemin'] + '/point' + x['numero'] + '_pression_cleaned.csv', 'w') as fichier:
        x['pression2'].to_csv(fichier, index=False)
    with open(x['chemin'] + '/point' + x['numero'] + '_temperature_cleaned.csv', 'w') as fichier:
        x['temperature2'].to_csv(fichier, index=False)